@import "utils/variables.scss";
@import "utils/mixins.scss";

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// -----------------MAIN-COMPONENTS-------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Noto Serif", "Arial", serif;
  font-size: 16px;
  color: $color-beige;
  text-rendering: optimizeLegibility;
  background-color: $color-dark-green;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
    url($url-elden-ring);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  scroll-behavior: smooth;
}

// -----------------REUSABLE-COMPONENTS-------------------
h2 {
  font-size: 1.4rem;
  font-weight: 400;
}

section {
  padding: 5.3rem;
}

.text-link {
  font-size: 1.3rem;
  text-decoration: none;
  color: $color-beige;
}

.column-1-of-3 {
  float: left;
  width: 33.3%;
  flex-basis: 33.3%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
// -----------------HEADER-------------------

h1 {
  font-size: 2.2rem;
  font-weight: 400;
}

span.header-welcome-text {
  border-bottom: 0.1rem $color-gold solid;
  padding: 0 1rem 0.3rem 1rem;
  animation: fade-in 2s linear forwards;
}

.header-text-box {
  @include center;
  @include container-style;
  width: 45rem;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-align: center;
  padding: 4rem 2rem 4rem 2rem;
}

// -----------------SEARCHBAR-------------------

.header-text-search {
  @include center();
  text-align: center;
  margin-bottom: 10px;
  margin-top: 7rem;
}

input::placeholder {
  font-family: "Noto Serif", "Arial", serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: rgba($color: $color-beige, $alpha: 0.6);
}

.header-searchbar {
  @include center;
  @include container-style;
  font-size: 1.2rem;
  color: $color-light-olive;
  width: 35rem;
  padding: 1.2rem;
  margin-top: 1.2rem;
  transition: box-shadow 0.2s;
}

.header-searchbar:hover {
  box-shadow: 0 0.3rem 1rem rgba($color: $color-light-olive, $alpha: 0.6);
}

.header-searchbar:focus {
  outline: solid rgba($color-gold, 0.4);
}

// -----------------REGION-SIDEBAR-------------------

.region-sidebar {
  position: fixed;
  top: 0;
  left: -12rem;
  height: 100%;
  width: 10rem;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba($color-dark-blue, 0.2);
  backdrop-filter: blur(4px);
  border-right: 1px solid rgba($color-gold, 0.6);

  ul {
    margin-top: 5rem;
    text-align: center;
    margin-right: 0.3rem;
    li {
      margin-bottom: 1rem;
    }
  }
}

.btn-sidebar {
  @include container-style();
  display: block;
  position: fixed;
  cursor: pointer;
  top: 2rem;
  left: 3.3rem;
}

.btn-sidebar-open {
  display: block;
}
.btn-sidebar-close {
  display: none;
}

// -----------------NPC-TABLE-------------------

.npcs-table-container {
  @include container-style();
  padding: 2rem;
}

.npcs-table-region-name {
  @include center();
  width: 95%;
  margin-bottom: 3rem;
  margin-top: 1rem;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  mask-image: none;
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba($color: $color-gold, $alpha: 0.7) 25%,
      rgba($color: $color-gold, $alpha: 0.7) 50%,
      rgba(0, 0, 0, 0) 100%
    )
    30;
}

.npcs-table-region-name h2 {
  font-size: 2.4rem;
  letter-spacing: 0.6rem;
  text-align: center;
  text-transform: uppercase;
  padding: 1.2rem;
}

#region-atlus-plateau {
  @include name-background($url-atlus-plateau);
}
#region-caelid {
  @include name-background($url-caelid);
}
#region-consecrated-snowfield {
  @include name-background($url-consecrated-snowfield);
}
#region-farum-azula {
  @include name-background($url-farum-azula);
}
#region-forbidden-lands {
  @include name-background($url-forbidden-lands);
}
#region-leyndell {
  @include name-background($url-leyndell);
}
#region-limgrave {
  @include name-background($url-limgrave);
}
#region-liurnia {
  @include name-background($url-liurnia);
}
#region-mountaintop {
  @include name-background($url-mountaintop);
}
#region-mt-gelmir {
  @include name-background($url-mt-gelmir);
}
#region-roundtable-hold {
  @include name-background($url-roundtable-hold);
}
#region-underground {
  @include name-background($url-underground);
}
#region-weeping-peninsula {
  @include name-background($url-weeping-peninsula);
}

.npc-container {
  height: 20rem;
  margin-bottom: 2rem;
  position: relative;
}

.npc-container img {
  @include center();
  padding: 1rem;
  height: 85%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
  border-radius: 1.6rem;
  filter: brightness(90%);
}

.npc-container .text-link {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 0.7rem;
  margin-top: 1rem;
  position: absolute;
  width: 100%;
  bottom: 0.05rem;
}

.npc-container a:hover {
  filter: brightness(115%);
  transition: filter 0.1s;
}

.npc-container:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  height: 1px;
  border-bottom: 0.1rem $color-gold solid;
}

// -----------------FOOTER-------------------
.section-footer {
  color: $color-dark-olive;
  text-align: center;
  font-size: 1rem;
  margin-top: 2rem;
  padding-bottom: 3rem;
  background: linear-gradient($color-dark-blue, $color-dark-green);
  border-top: solid 1px rgba($color-gold, 0.6);

  .text-link {
    color: $color-dark-olive;
    font-size: 1.2rem;
    text-decoration: none;
  }
}

// -----------------MEDIA-QUERIES-------------------
//for mobile devices, iPads and tablets
@media all and (max-width: 770px) {
  * {
    max-width: 100%;
    overflow-x: hidden;
  }

  h1 {
    font-size: 1.2rem;
  }

  .column-1-of-3 {
    width: auto;
    float: none;
  }

  span.header-welcome-text {
    display: flex;
    justify-content: center;
  }

  .btn-sidebar {
    display: none;
  }

  .npcs-table-container {
    max-width: 100%;
    width: 100%;
  }

  section {
    padding: 2rem;
  }

  .npc-container a:hover {
    scale: 1;
  }
  .npcs-table-region-name h2 {
    font-size: 1.8rem;
  }
  .npcs-table-region-name {
    width: 90%;
  }
}
//for small screens
@media all and (max-width: 1025px) {
  * {
    max-width: 100%;
    overflow-x: hidden;
  }
  .npcs-table-region-name h2 {
    font-size: 1.8rem;
  }
  .npcs-table-region-name {
    width: 90%;
  }
}
//works well for the rest of resolutions
