$color-dark-green: #466748;
$color-gold: #f2d16d;
$color-light-brown: #b07943;
$color-dark-brown: #3d2a17;
$color-dark-green: #131b1b;
$color-beige: #e9e1bb;
$color-light-olive: #bcbe8c;
$color-dark-olive: #677356;
$color-dark-blue: #181f1d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Noto Serif", "Arial", serif;
  font-size: 1.2rem;
  color: $color-beige;
  text-rendering: optimizeLegibility;
  background-color: $color-dark-green;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
    url("/vendors/img/elden-ring-background.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

// -----------------REUSABLE COMPONENTS-------------------
@mixin center {
  margin: auto;
  width: 75%;
  display: block;
}

@mixin container-style {
  border: 0.1rem solid rgba($color-gold, 0.6);
  border-radius: 0.4rem;
  background-color: rgba($color-dark-blue, 0.8);
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

section {
  padding: 5.3rem;
}

// -----------------HEADER-------------------

h1 {
  font-weight: 400;
}

span.header-welcome-text {
  border-bottom: 0.1rem $color-gold solid;
  padding: 0 1rem 0.3rem 1rem;
  animation: fade 2s linear forwards;
}

.header-text-box {
  @include center;
  @include container-style;
  width: 40rem;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-align: center;
  padding: 3rem 1rem 3rem 1rem;
}

// -----------------SEARCHBAR-------------------

.header-text-search {
  @include center();
  text-align: center;
  margin-bottom: 10px;
  margin-top: 5rem;
}

input::placeholder {
  font-family: "Noto Serif", "Arial", serif;
  font-size: 1rem;
  text-decoration: none;
  color: rgba($color: $color-beige, $alpha: 0.6);
}

.header-searchbar {
  @include center;
  @include container-style;
  font-size: 1rem;
  color: $color-light-olive;
  width: 30rem;
  padding: 1rem;
  margin-top: 1rem;
  transition: box-shadow 0.2s;
}

.header-searchbar:hover {
  box-shadow: 0 0.3rem 1rem rgba($color: $color-light-olive, $alpha: 0.6);
}

.header-searchbar:focus {
  outline: solid rgba($color-gold, 0.4);
}

// -----------------NPC-TABLE-------------------

.npcs-table-container {
  @include container-style();
  padding: 2rem;
}

.npcs-table-region-name {
  @include center();
  width: 50%;
  margin-bottom: 3rem;
  margin-top: 1rem;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-clip: content-box;

  mask-image: url("/vendors/img/limgrave-background.png");
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  background-image: linear-gradient(
      to left,
      rgba($color-dark-blue, 0.8),
      rgba($color-dark-blue, 0.6),
      rgba($color-dark-blue, 0.8)
    ),
    url("/vendors/img/limgrave-background.png");

  border-bottom: 1px solid;
  border-top: 1px solid;
  border-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba($color: $color-gold, $alpha: 0.7) 25%,
      rgba($color: $color-gold, $alpha: 0.7) 50%,
      rgba(0, 0, 0, 0) 100%
    )
    30;
}

.npcs-table-region-name h2 {
  font-size: 2rem;
  letter-spacing: 0.4rem;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
}

.npc-container {
  height: 20rem;
  margin: 1rem;
  margin-bottom: 2rem;
  position: relative;
}
.npc-container img {
  @include center();
  padding: 1rem;
  width: 75%;
  height: 90%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 1.6rem;
  filter: brightness(90%);
}

.npc-container .text-link {
  color: $color-beige;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 0.7rem;
  margin-top: 1rem;
  position: absolute;
  width: 100%;
  bottom: 0.05rem;
}

.npc-container a:hover {
  scale: 1.1;
  filter: brightness(115%);
  transition: scale 0.1s, filter 0.1s;
}

.npc-container:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  height: 1px;
  border-bottom: 0.1rem $color-gold solid;
}

.column-1-of-3 {
  float: left;
  width: 33.3%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
