* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Noto Serif", "Arial", serif;
  font-size: 1.2rem;
  color: #e9e1bb;
  text-rendering: optimizeLegibility;
  background-color: #131b1b;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url("/vendors/img/elden-ring-background.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
section {
  padding: 5.3rem;
}

h1 {
  font-weight: 400;
}

span.header-welcome-text {
  border-bottom: 0.1rem #f2d16d solid;
  padding: 0 1rem 0.3rem 1rem;
  animation: fade 2s linear forwards;
}

.header-text-box {
  margin: auto;
  width: 75%;
  display: block;
  border: 0.1rem solid rgba(242, 209, 109, 0.6);
  border-radius: 0.4rem;
  background-color: rgba(24, 31, 29, 0.8);
  width: 40rem;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-align: center;
  padding: 3rem 1rem 3rem 1rem;
}

.header-text-search {
  margin: auto;
  width: 75%;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 5rem;
}

input::placeholder {
  font-family: "Noto Serif", "Arial", serif;
  font-size: 1rem;
  text-decoration: none;
  color: rgba(233, 225, 187, 0.6);
}

.header-searchbar {
  margin: auto;
  width: 75%;
  display: block;
  border: 0.1rem solid rgba(242, 209, 109, 0.6);
  border-radius: 0.4rem;
  background-color: rgba(24, 31, 29, 0.8);
  font-size: 1rem;
  color: #bcbe8c;
  width: 30rem;
  padding: 1rem;
  margin-top: 1rem;
  transition: box-shadow 0.2s;
}

.header-searchbar:hover {
  box-shadow: 0 0.3rem 1rem rgba(188, 190, 140, 0.6);
}

.header-searchbar:focus {
  outline: solid rgba(242, 209, 109, 0.4);
}

.npcs-table-container {
  border: 0.1rem solid rgba(242, 209, 109, 0.6);
  border-radius: 0.4rem;
  background-color: rgba(24, 31, 29, 0.8);
  padding: 2rem;
}

.npcs-table-region-name {
  margin: auto;
  width: 75%;
  display: block;
  width: 50%;
  margin-bottom: 3rem;
  margin-top: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  mask-image: url("/vendors/img/limgrave-background.png");
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  background-image: linear-gradient(to left, rgba(24, 31, 29, 0.8), rgba(24, 31, 29, 0.6), rgba(24, 31, 29, 0.8)), url("/vendors/img/limgrave-background.png");
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(242, 209, 109, 0.7) 25%, rgba(242, 209, 109, 0.7) 50%, rgba(0, 0, 0, 0) 100%) 30;
}

.npcs-table-region-name h2 {
  font-size: 2rem;
  letter-spacing: 0.4rem;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
}

.npc-container {
  height: 20rem;
  margin: 1rem;
  margin-bottom: 2rem;
  position: relative;
}

.npc-container img {
  margin: auto;
  width: 75%;
  display: block;
  padding: 1rem;
  width: 75%;
  height: 90%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 1.6rem;
  filter: brightness(90%);
}

.npc-container .text-link {
  color: #e9e1bb;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 0.7rem;
  margin-top: 1rem;
  position: absolute;
  width: 100%;
  bottom: 0.05rem;
}

.npc-container a:hover {
  scale: 1.1;
  filter: brightness(115%);
  transition: scale 0.1s, filter 0.1s;
}

.npc-container:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  height: 1px;
  border-bottom: 0.1rem #f2d16d solid;
}

.column-1-of-3 {
  float: left;
  width: 33.3%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}/*# sourceMappingURL=style.css.map */