@mixin center {
  margin: auto;
  width: 75%;
  display: block;
}

@mixin container-style {
  border: 0.1rem solid rgba($color-gold, 0.6);
  border-radius: 0.4rem;
  background-color: rgba($color-dark-blue, 0.8);
}

@mixin name-background($url) {
  mask-image: url($url);
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  background-image: linear-gradient(
      to left,
      rgba($color-dark-blue, 0.8),
      rgba($color-dark-blue, 0.6),
      rgba($color-dark-blue, 0.8)
    ),
    url($url);
}
