$color-dark-green: #466748;
$color-gold: #f2d16d;
$color-light-brown: #b07943;
$color-dark-brown: #3d2a17;
$color-dark-green: #131b1b;
$color-beige: #e9e1bb;
$color-light-olive: #bcbe8c;
$color-dark-olive: #677356;
$color-dark-blue: #181f1d;

$url-elden-ring: "/vendors/img/bgs/elden-ring-background.png";

$url-atlus-plateau: "/vendors/img/bgs/atlus-plateau-background.png";
$url-caelid: "/vendors/img/bgs/caelid-background.png";
$url-consecrated-snowfield: "/vendors/img/bgs/consecrated-snowfield-background.png";
$url-farum-azula: "/vendors/img/bgs/farum-azula-background.png";
$url-forbidden-lands: "/vendors/img/bgs/forbidden-lands-background.png";
$url-leyndell: "/vendors/img/bgs/leyndell-background.png";
$url-limgrave: "/vendors/img/bgs/limgrave-background.png";
$url-liurnia: "/vendors/img/bgs/liurnia-background.png";
$url-mountaintop: "/vendors/img/bgs/mountaintop-of-the-giants-background.png";
$url-mt-gelmir: "/vendors/img/bgs/mt-gelmir-background.png";
$url-roundtable-hold: "/vendors/img/bgs/roundtable-hold-background.png";
$url-underground: "/vendors/img/bgs/underground-background.png";
$url-weeping-peninsula: "/vendors/img/bgs/weeping-peninsula-background.png";
